.headerSlideWrap {
    position: relative;
}
.headerSlideWrap img {
    width: 100%;
}
.pfHeaderTitleWrap {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column
}
.pfHeaderButton {
    color: #ffffff;
    max-width: 170px;
    width: 100%;
    border-radius: 6px;
    font-size: 22px;
    text-transform: capitalize;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    background: #fb6470;
    border: 1px solid #fb6470;
    outline: none;
    transition: all 0.2s;
}
.pfHeaderButton:hover {
    background: transparent;
    color: #fb6470;
}
.pfHeaderTitle {
    font-size: 48px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}
.pfHeaderSubtitle {
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}